header.header
	a.header_menu(href=jv0 title="Изменить рубрику" data-toggle-menu) Меню
		b.header_hamburger
		img.header_crosshair(src="img/cross.svg" alt="Крестик" height="20px")
	.players-cloud-main_overflow
		.players-cloud-main(data-game-players-container)
			.player_item.player_item--new(data-game-newplayer)
				.player_item_avatar +
				.player_item_name Новый игрок