extends layouts/default

block head
	- cssPath = 'css/main.css';
	- pageTitle = 'CSSSR START Project QSTemplate';
	- OGmetaTitle = 'CSSSR START Project QSTemplate';
	//- u can add all avaliable variables, available variables can be found in partials/head, partials/OGhead
	//- if u dont set this vars, they will have default values
	link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css')

block content
	section.main
		section.pick
			h2.pick_player
				var.pick_player_name Bogdan 
				span.pick_player_text теперь ваш ход
			a.pick_link.pick_link--true(href=jv0 title="" data-modalType="game" data-show-popup data-true) Правда
			span.pick_or или
			a.pick_link.pick_link--action(href=jv0 title="" data-modalType="game" data-show-popup data-action) Действие
		form(id="main-form")
			input(type="hidden" value="" id="players-m" name="players-m")
			input(type="hidden" value="" id="players-f" name="players-f")
			input(type="hidden" value="" id="players-all" name="players-all")
			//- value example ="Misha,Lena,Bogdan"
			input(type="hidden" value="" id="game-rubric" name="rubric")
			//- value example ="18,21"
		section.modal_window.hidden
			p.modal_desc Поцелуйте в шею первого игрока противоположного пола слева от вас
			button.modal_submit(type="button" data-close-popup data-next-player) Ок
		include blocks/game_start
		.overlay.hidden



block additionalCSS

block scripts