// Config Settings Import
// Change values in _config.scss
@if $borderBox == true {

	*,
	*:after,
	*:before {
		box-sizing: border-box;
	}

}

@if $fontSmooth == true {

	body {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

}

html, body {
	@include size(100%);
	font-size: $rootFontSize;
	font-family: $fontFamily;
}

body {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-focus-ring-color: rgba(255, 255, 255, 0);
	-webkit-text-size-adjust: none;
	outline: none;
	user-select: none;
	resize: none;
	overflow: hidden;
}

input, textarea {
	user-select: text;
	resize: none;
}

.main {
	@include size(100%);
	padding-top: 70px;
	background-color: #c62828;
	transition: transform linear .3s;
	will-change: transform;
	transform: translate3d(0, 0, 0);

	&.active {
		transform: translate3d(-240px, 0, 0);
	}
}