$headerHeight: 50px;

.header {
	@include size(100%, $headerHeight);
	background-color: #8bc34a;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;


	&_list {
		height: 100%;
		display: inline-block;
		@include clearfix();
	}

	&_list_item {
		float: left;
		height: 100%;
	}

	&_item_link {
		color: #fafafa;
		text-decoration: none;
		display: inline-block;
		height: 100%;
		line-height: $headerHeight;
		padding: 0 10px;
	}
}