.players {
	font-size: 40px;
	color: #444;
	padding: 1em;
	@include clearfix();
	display: flex;
	align-items: center;

	&_desc {
		display: flex;
		flex-direction: column;
	}

	&_count {
		font-size: 1.5em;
		font-weight: 700;
		float: left;
	}

	&_all {
		max-width: 80%;
		overflow-x: scroll;
	}

	&_overflow {
		white-space: nowrap;
	}

	&_item {
		padding: .3em;
		text-align: center;
		display: inline-block;
		height: 100%;
	}

	&_avatar {

	}

	&_avatar_img {
		max-width: 50px;
	}

	&_name {
		font-size: .5em;
	}
}