.overlay {
	position: fixed;
	top: 0;
	left: 0;
	@include size(100%);
	opacity: 0;
	background-color: rgba(0,0,0,.5);

	will-change: opacity;
	transform: translate3d(0, 0, 0);
	transition: opacity .6s;
	z-index: 9;

	&.hidden {
		visibility: hidden;
	}

	&.active {
		opacity: 1;
	}
}

[data-hidden-cb] {
	position: absolute;
	left: -9999px;
}

[data-disabled] {
	pointer-events: none;
	opacity: .6;
	transition: opacity .4s;
	will-change: opacity;
}