section.game-start(data-gamestart)
	.game-start_modal.game-start_modal--first.active(data-gamestart-modal)
		h2.game-start_header Добавить игроков
		.game-start_modal-inner.game-start_modal-inner--players
			p.game-start_subheader Минимум 2 игрока.
			.game-start_wrap
				.game-start_input-wrap
					input.game-start_input.game-start_input--players(type="text" id="create-player" placeholder="Имя игрока" data-gamestart-playerInput)
					button.game-start_submit-player(type="button" data-gamestart-playerAdd) Добавить
				input(type="radio" data-hidden-cb value="m" id="new-player-m" name="new-player-gender" data-gamestart-genderRadio)
				label(for="new-player-m" class="game-start_gender-label game-start_gender-label--male")
					svg(width="26px" height="26px")
						use(xlink:href=svg + "business")
					span.game-start_gender-label_text Парень
				input(type="radio" data-hidden-cb value="f" id="new-player-f" name="new-player-gender" data-gamestart-genderRadio)
				label(for="new-player-f" class="game-start_gender-label game-start_gender-label--female")
					svg(width="26px" height="26px")
						use(xlink:href=svg + "woman")
					span.game-start_gender-label_text Девушка
			.game-start_player-cloud(data-gamestart-playerContainer)
		button.game-start_next.game-start_next--players(type="button" data-disabled data-gamestart-nextmodal data-gamestart-nextmodal-player) Далее
	.game-start_modal.game-start_modal--second(data-gamestart-modal)
		h2.game-start_header Выберите рубрику
		.game-start_modal-inner.game-start_modal-inner--rubric
			input(type="checkbox" data-hidden-cb id="new-game-rubric-16" value="16" name="new-game-rubric" data-gamestart-rubric)
			label.game-start_rubric-label(for="new-game-rubric-16")
				span.game-start_rubric-desc 16+ (Например: Спой песню)
			input(type="checkbox" data-hidden-cb id="new-game-rubric-18" value="18" name="new-game-rubric" data-gamestart-rubric)
			label.game-start_rubric-label(for="new-game-rubric-18")
				span.game-start_rubric-desc 18+ (Например: Поцелуй в шею)
			input(type="checkbox" data-hidden-cb id="new-game-rubric-21" value="21" name="new-game-rubric" data-gamestart-rubric)
			label.game-start_rubric-label(for="new-game-rubric-21")
				span.game-start_rubric-desc 21+ (Например: Французский поцелуй)
			button.game-start_back(type="button" data-gamestart-prevmodal) Назад
			button.game-start_next.next-back.game-start_next--rubrics(type="button" data-disabled data-gamestart-nextmodal) Далее
	.game-start_modal.game-start_modal--third(data-gamestart-modal)
		h2.game-start_header Правила игры
		.game-start_modal-inner
			p.game-start_rules 
				strong Серая
				|  карточка означает что вы должны прочитать задание про себя и выполнять его так, чтобы игроки не догадывались что это задание.
				<br>
				strong Желтая
				|  карточка означает коллективное задание, данное задание должны выполнять все.
				<br>
				| Носки, бижутерия не являются вещью. Один игрок не может выполнять действие или правду более 2ух раз подряд. Старайтесь выполнять все задачи и отвечать на все вопросы, иначе, игра будет не интересна.
			button.game-start_back(type="button" data-gamestart-prevmodal) Назад
			button.game-start_next.next-back(type="button" data-gamestart-nextmodal) Далее
	.game-start_modal.game-start_modal--fourth(data-gamestart-modal)
		h2.game-start_header Уже почти
		.game-start_modal-inner
			p.game-start_rules
				| Если хотите что-нибудь изменить перед началом, нажимайте кнопку назад. Если вы готову начать игру полную разврата, похоти, разоблачений и смеха то смело нажимайте "Начать игру".
			button.game-start_back(type="button" data-gamestart-prevmodal) Назад
			button.game-start_next.next-back(type="button" data-gamestart-start) Начать игру
	.game-start_overlay