div.game-list(data-game-list)
	.game-list_inner
		p.game-list_desc Показываются вопросы и действия по выбраным рубрикам. После того как вы нажмете кнопку "Сохранить" все вопросы и действия выбранные вами будут в игре.
		.game-list_list(data-game-list-wrap="16,0")
			.game-list_inner-wrap(data-game-list-item-wrap)
				div.game-list_item(data-game-list-item) Займитесь сексом с игроком
				div.game-list_item(data-game-list-item)  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, asperiores.
				div.game-list_item(data-game-list-item) Займитесь сексом с игроком
		.game-list_list(data-game-list-wrap="16,1")
			.game-list_inner-wrap(data-game-list-item-wrap)
				div.game-list_item(data-game-list-item) Займитесь сексом с игроком
				div.game-list_item(data-game-list-item)  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, asperiores.
				div.game-list_item(data-game-list-item) Займитесь сексом с игроком
		.game-list_list(data-game-list-wrap="18,0")
			.game-list_inner-wrap(data-game-list-item-wrap)
				div.game-list_item(data-game-list-item) Займитесь сексом с игроком
				div.game-list_item(data-game-list-item)  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, eveniet!
				div.game-list_item(data-game-list-item) Займитесь сексом с игроком
				div.game-list_item(data-game-list-item)  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, eveniet!
		.game-list_list(data-game-list-wrap="18,1")
			.game-list_inner-wrap(data-game-list-item-wrap)
				div.game-list_item(data-game-list-item) Займитесь сексом с игроком
				div.game-list_item(data-game-list-item)  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, eveniet!
				div.game-list_item(data-game-list-item) Займитесь сексом с игроком
				div.game-list_item(data-game-list-item)  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, eveniet!
		.game-list_list(data-game-list-wrap="21,0")
			.game-list_inner-wrap(data-game-list-item-wrap)
				div.game-list_item(data-game-list-item) Займитесь сексом с игроком
				div.game-list_item(data-game-list-item)  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, asperiores.
				div.game-list_item(data-game-list-item) Займитесь сексом с игроком
		.game-list_list(data-game-list-wrap="21,1")
			.game-list_inner-wrap(data-game-list-item-wrap)
				div.game-list_item(data-game-list-item) Займитесь сексом с игроком
				div.game-list_item(data-game-list-item)  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, asperiores.
				div.game-list_item(data-game-list-item) Займитесь сексом с игроком
	footer.game-list_footer
		button.game-list_footer_buttons(type="button" data-game-list-action="cancel") Отменить
		button.game-list_footer_buttons(type="button" data-game-list-action="save") Сохранить